<nav>
    <div class="nav">
        <div class="left">
            <a href="/" class="btn btn-primary">
                <img src="https://s.pinimg.com/webapp/favicon-54a5b2af.png" alt="">
            </a>
            <div class="hamburger">
                <ul>
                    <li>
                        <a class="navegators" href="/" class="btn btn-primary" id="Home">Inicio</a>
                    </li>
                    <li>
                        <a class="navegators" href="/upload" class="btn btn-primary" id="Add">Crear</a>
                    </li>
                    <!-- </div> -->
                    <div class="search">
                        <div class="input">
                            <svg class="gUZ ztu U9O kVc" height="16" width="16" viewBox="0 0 24 24" aria-label="Icono de búsqueda" role="img"><path d="M10 16c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6m13.12 2.88-4.26-4.26A9.842 9.842 0 0 0 20 10c0-5.52-4.48-10-10-10S0 4.48 0 10s4.48 10 10 10c1.67 0 3.24-.41 4.62-1.14l4.26 4.26a3 3 0 0 0 4.24 0 3 3 0 0 0 0-4.24"></path></svg>
                            <input type="text" name="" id="" placeholder="Buscar">
                        </div>
                    </div>
                    <!-- <div class="right"> -->
                    <li>
                        <a href="https://dylan-cerv.web.app/" target="_blank" class="Portafolio">Portafolio</a>
                    </li>
                </ul>
            </div>
            <div class="menu-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>   
</nav>